@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#navbarNav a{
    text-decoration: none;
}

#navbarNav a:hover{
    color: #f5c332;
}
ul{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 400;
}

::-webkit-scrollbar{
    width: 0.425rem;
}

::-webkit-scrollbar-track{
    background: white;
}

::-webkit-scrollbar-thumb{
    background: #f5c332;
}

h1{
    font-size: 3.125rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: #231E41;
    text-transform: capitalize;
}

h2{
    font-size: 2.25rem;
    font-weight: 700;margin-bottom: 0.5rem;
    color: #231E41;
    text-transform: capitalize;
}

h4{
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.3;
    color: #231E41;
    text-transform: capitalize;
}

h5{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    color: #231E41;
    text-transform: capitalize;
}

p{
    font-size: 1rem;
    color: #231E41;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.0625rem;
}

.main-btn{
    padding: 0.625rem 1.875rem;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0.125rem 0.625rem -0.0625rem rgb(0 0 0 / 19%);
    -webkit-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;;
    transition: all 0.4s ease-out 0s;
    border: 0.1875rem solid #f5c332;
    background-color: #f5c332;
    color: black;
}

.main-btn:hover{
    background: transparent;
    color: #f5c332;
}

.wrapper{
    padding-top: 6025rem;
    padding-bottom: 6.25rem;
}

.text-content{
    width: 70%;
    margin: 0 auto;
}

.counter-section h2,
.testimonial-section h2,
.book-food-text h2{
    color: #f5c332;
}

/*2 Navbar Design*/

.navigation-wrap.scroll-on{
    position: fixed;
    width: 100%;
    left: 0;
    background-color: white;
    z-index: 1000;
    -wibkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navigation-wrap .navbar-brand img{
    width: 10rem;
}

.navigation-wrap .nav-item{
    padding: 0 0.625rem;
    transition: all 200ms linear;
}

.navigation-wrap .navbar-toggler:focus{
    outline: none;
    border: unset;
    box-shadow: none;
}

.navigation-wrap .nav-link{
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #231E41;
    letter-spacing: 0.0625rem;
}

.navigation-wrap .main-btn{
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}

/*3 Banner Design*/

.top-banner{
    width: 100%;
    background-image: url("./images/bg/bg-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14.875rem 0 9.375rem;
    
}

/*Counter Design*/

.counter-section{
    background-color: black;
    padding: 2.5rem 0;
}

.counter-section p{
    color: white;
    text-transform: uppercase;
    margin-bottom: 0;
}